@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Golos+Text:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Berkeley Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  background-color: #134e4a;
  color: #f1f5f9;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 15px;
}

.container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 5px 0;
  font-size: 25px;
  font-weight: 700;
  color: whitesmoke;
}

button {
  margin: 2px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 28px;
  color: whitesmoke;
  font-weight: bolder;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: rgb(19, 86, 194);
  color: whitesmoke;
  transform: scale(1.1);
  border: 2px solid rgb(13, 117, 48);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
